:root {
  --page-background: rgb(231 229 229);
  --header-font-color: #bdc1c6;
  --page-font-color: #5f5c5c;
  --standart-transition: all 0.3s linear;
  --content-width: 97%;
  --header-height: 50px;
  --task-text-color: #8B8B8B;
  --task-background: #3c3c3c;
  --light-grey: #e4e4e4;
  --link-color: #4685de;

  --max-width: 1200px;
  --section-margin: 40px;
  --header-height: 180px;
  --mouse-width: 45px;
  --site-gap: 22px;
}


.page {
  font-family: 'Raleway', Sans-serif, Arial, Helvetica;
  font-weight: 300;
  color: var(--page-font-color);
  /* background: rgb(102, 140, 123, 0.1); */
  /* padding: 0 calc(20px - (100vw - 100%)) 0 0; */
}

.page__wrapper {
  /* max-width: 1280px; */
  min-height: 100vh;
  /* padding: 0 20px; */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  transition: opacity 0.3s linear;
}

.link:hover {
  opacity: 0.6;
}

.body_unscrolled {
  overflow: hidden;
}

@media (max-width: 580px) {
  /* .page {
    padding: 0;
  }

  .page__wrapper {
    padding: 0 10px;
  } */

}
