.main {
  column-count: 3;
  column-gap: 4px;
  max-width: 1280px;
  min-height: 66vh;
}

@media (max-width: 884px) {
  .main {
    column-count: 2;
  }
}

@media (max-width: 580px) {
  .main {
    column-count: 1;
  }

}
