

.menu__ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.menu__li {
  text-decoration: none;
  color: black;
  margin-left: 50px;
  transition: opacity 0.3s linear;
  font-size: 20px;
}

.menu__li:hover {
  opacity: 0.6;
}

