.header__container {
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  position: relative;
  /* transform: translateY(0); */
  margin: 25px 0px;
  z-index: 5;
}

.header__container_up {
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  position: relative;
  transform: translateY(-100%);
  transition: all 0.5s ease;
  height: 150px;
}

.header__container_fixed {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  /* background: rgba(239, 243, 242, 0.8); */
  background: rgb(31 31 31 / 90%);
  width: calc(100% - 40px);
  max-width: 1280px;
  transition: all 0.5s ease;
  box-shadow: 5px 2px 20px black;
  border-radius: 10px;
}

.header__logo {
  width: 100%;
  height: 90px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }

  .header__container_fixed {
    justify-content: space-between;
  }
}
