.header__container {
  display: flex;
  align-items: end;
  justify-content: space-around;
  transition: all 0.5s ease;
  position: relative;
  margin: 80px 0 20px 0;
  z-index: 5;
  animation: headerFix 0.5s;
}

.header__logo {
  /* width: 100%; */
  width: 150px;
  /* max-height: 80px; */
  margin-right: 5px;
}

@media (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
  .header__container_fixed {
    justify-content: space-between;
  }
  .header__logo {
    max-width: 120px;
  }
}

@keyframes headerFix {
  from {
    transform: translateY(-100%);
  }

  top {
    transform: translateY(0);
  }
}
