.header__container {
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  position: relative;
  margin: 25px 0px;
  z-index: 5;
}

.header__container_first-scroll {
  position: fixed;
  transform: translateY(-100%);
  width: calc(100% - 40px);
  max-width: 1280px;
  margin: 0;
}

.header__container_up {
  background: rgb(31 31 31 / 90%);
  box-shadow: 5px 2px 20px black;
  border-radius: 10px;
}

.header__container_fixed {
  position: fixed;
  background: rgb(31 31 31 / 90%);
  width: calc(100% - 40px);
  margin: 0;
  max-width: 1280px;
  box-shadow: 5px 2px 20px black;
  border-radius: 10px;
}

.header__logo {
  width: 100%;
  max-height: 80px;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
  .header__container_fixed {
    justify-content: space-between;
  }
  .header__logo {
    max-width: 120px;
  }
}
