.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  max-width: var(--max-width);
  width: var(--content-width);
  margin: auto;
}

.footer__contacts {

}

.footer__img {
  width: 30px;
  margin-left: 10px;
}
