.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  max-width: var(--max-width);
  width: var(--content-width);
  margin: 0 auto 0;
}

.footer__contacts {

}

.footer__link {
  transition: var(--standart-transition);
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__img {
  width: 28px;
  margin-left: 10px;
}
