.popup-image__container {
  position: relative;
}

.popup-image {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(1,1,1,0);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  transition: background-color 0.3s linear;
}


.popup_opened {
  visibility: visible;
  background-color: rgba(1,1,1,.8);
}

.popup-image__picture {
  max-width: 80vw;
  max-height: 80vh;
  /* margin-left: 100%; */
  transform: translateX(100%);
}

.popup-image__picture_active {
  max-width: 80vw;
  max-height: 80vh;
  transition: transform 0.3s linear;
  /* margin-left: 0; */
  transform: translateX(0);
}

.popup-image__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
}

/* .popup-image__close-btn:hover {
  opacity: .6;
  cursor: pointer;
} */


.arrow {
  width: 27px;
  height: 27px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  opacity: 0.5;
  transition: all 0.3s ease;
  cursor: pointer;
}

.arrow:hover {
  opacity: 0.8;
}

.arrow-right {
  transform: rotate(45deg);
}

.arrow-left {
  transform: rotate(-135deg);
}

.close {
  position: absolute;
  top: -38px;
  right: -8px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  transition: all 0.3s ease;
  }

.close:hover {
  opacity: 0.8;
  cursor: pointer;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

